.center-pills li {
    display: inline-block;
    list-style: none;
    padding-right: 1%;
    padding-top: 1%
}

.center-pills span {
    color: grey;
}

.center-pills span:hover {
    color: black;
}
.footer-bkg{
    background:  rgb(47, 138, 212);
}